.account_menu a{
    text-decoration: none;
    background-color: $sub-color;
    color: $main-color;
    padding: 5px 15px;
    margin-left: 5px;
    border-radius: 50px;
    display: inline-block;
    transition: .3s;
    &:hover{
        background-color: $sub-sub-color;
    }
}
