$header-height-mobile : 43px;
$header-height-desktop : 62px;


header{
    border-bottom: 2px solid $sub-color;
    width: 100%;

    &>div{
        @include outer-base;
        @include outer-limit;
        @include flex;
        &>*{
            width: 100%;
            @include desktop{
                width: 33%;
            }
        }
    }

    h1{
        @include header-title;
        a, a:hover{
            color: $sub-sub-color;
            text-decoration: none;
        }
    }

    p{
        display: none;
        @include desktop{
            display: inline;
            @include main-text;
        }
    }

    .account_menu{
        display: none;
        @include desktop{
            display: block;
        }
        text-align: right;
    }
    .account_menu.nologin{ //　これは消す
        display: block;
        position: absolute;
        top: $header-height-mobile;
        transform: translateY(10px);
        left: 0;
        text-align: center;
        @include desktop{
            position: static;
            text-align: right;
            transform: none;
        }
    }
}
