main{
    width: 100%;
    height: calc(100% - #{$header-height-mobile} );
    @include desktop{
        height: calc(100% - #{$header-height-desktop} );
    }

    &>div{
        @include outer-limit;
        height: 100%;
    }
}



$menu-width: 140px;
$opener-width: 70px;
#app{
    @include main-text;
    height: 100%;
    position: relative;     // #app内の要素のアンカーにするため
    overflow: hidden;       // #app内の要素がスクロール要素となるため
    @include desktop{
        padding-right: $menu-width;
        @include flex;
    }
}


#app .menu{
    @include outer-base;
    background-color: $main-color;
    position: absolute;
    top: 0;
    right: calc(-100% + #{$opener-width} );
    z-index: 3;
    width: calc(100% - #{$opener-width} );
    height: 100%;
    transition: .5s;
    &.opened{
        right: $opener-width;
    }
    @include desktop{
        position: static;
        width: $menu-width;
    }

    ul{
        margin-top: 20px;
    }
    li>a{
        padding: 20px 0;
        display: block;
        text-align: center;
        text-decoration: none;
        color: $sub-sub-color;
        border-bottom: $sub-color 1px solid;
        &.router-link-active{
            color: $sub-color;
        }
    }
    li:first-child>a{
        border-top: $sub-color 1px solid;
    }
    .opener, .closer{
        position: absolute;
        top: 10px;
        height: $opener-width;
        width: $opener-width;
        background-color: $main-color;
        @include flex;
        justify-content: center;
    }
    .closer{
        right: -$opener-width;
        border-radius: 0 30% 30% 0;
    }
    .opener{
        left: -$opener-width;
        border-radius: 30% 0 0 30%;
    }

    .account_menu{
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    @include desktop{
        li>a{
            padding: 10px 0;
            margin-bottom: 20px;
            border-radius: 50px;
            border: none !important;
            transition: .3s;
            &.router-link-active, &:hover{
                color: $main-color;
                background-color: $sub-color;
            }
        }
        .opener, .closer{
            display: none;
        }
        .account_menu{
            display: none;
        }
        .greeting{
            display: none;
        }
    }
}


#app .content{
    background-color: $sub-color;
    width: 100%;
    height: 100%;
    position: relative;
    li{
        list-style: none;
    }
    @include desktop{
        width: calc(100% - #{$menu-width});
    }
}


#visual-wrap{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    height: calc(100% - 50px);
    background-image: url('/image/CloudBell-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
